<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.graduation.dao.TjjeMapper">
    <select id="getBzt"  resultType="com.graduation.mode.Tjje">
        SELECT
            ry.c_name name,
            count(xf.c_id) cou
        from
            (select c_id,c_personnelId from purchase where c_id != '0000') xf
            left join
            personnel ry
         on
            xf.c_personnelId = ry.c_id
        GROUP BY
            ry.c_name

    </select>
    <select id="getTotal"  resultType="Integer">
        select
        ifnull(sum(c_hymoney),0)+ifnull(sum(c_money),0)
        from purchase
        where
        t_date BETWEEN #{year}  and #{tomYear}
    </select>
    <select id="ylYsp"  resultType="Integer">
        select
        (ifnull(sum(c_hymoney),0)+ifnull(sum(c_money),0)) * 0.6
        from purchase
        where
        c_goodsId != ''
        and
        t_date BETWEEN #{year} and #{tomYear}
    </select>
    <select id="ylWsp"  resultType="Integer">
        select
		ifnull(sum(c_hymoney),0)+ifnull(sum(c_money),0)
        from purchase
        where
        c_goodsId = ''
        and
        t_date BETWEEN #{year}  and #{tomYear}
    </select>

</mapper>