<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.graduation.dao.UserMapper">

    <resultMap type="User" id="UserMap">
        <id property="id" column="c_id" jdbcType="VARCHAR" />
        <result property="name" column="c_name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectUserById" parameterType="String" resultMap="UserMap" resultType="com.graduation.mode.User">
        select *
        from user
        where c_id = #{id}
    </select>
<insert id="insertYg" parameterType="com.graduation.mode.User" >
    INSERT INTO personnel(c_id,c_name, c_sex, c_tel, c_remarks,f_salary)
    VALUES (
    REPLACE(UUID(), '-', ''),#{name},#{sex},#{tel},#{remarks},#{salary})
</insert>
    <update id="updateYg" parameterType="com.graduation.mode.User">
        update personnel
        <set>
            <if test="name != null" >
                c_name =#{name},
            </if>
            <if test="sex != null" >
                c_sex =#{sex},
            </if>
            <if test="tel != null" >
                c_tel =#{tel},
            </if>
            <if test="remarks != null" >
                c_remarks =#{remarks},
            </if>
            <if test="salary != null" >
                f_salary =#{salary},
            </if>
        </set>
        where c_id=#{id}
    </update>
    <select id="getYgxx" resultType="com.graduation.mode.User">
        SELECT c_id id ,c_name name, c_sex sex, c_tel tel, c_remarks remarks,f_salary salary FROM personnel
    </select>
</mapper>